{% extends "base.html" %}
{% block title %}{{ this.value(LIBRIS.key) }}{% endblock %}
{% block head_extras %}
{% endblock head_extras %}
  <link rel="url" href="{{ this }}"/>
{% block main %}
  <article resource="{{ this }}" typeof="Person {{ type_curies(this) }}" class="row">
    <div class="span7">
      <h2 class="db">LIBRIS</h2>
      <h1 property="name">{{this.value(LIBRIS.key)}}</h1>
      {#
      <p><a property="additionalType rdf:type" href="{{this.value(RDF.type)}}">[type]</a><p>
      {% for name in this.objects(FOAF.name) | sort %}
        <div property="alternateName"><i>{{name}}</i></div>
      {% endfor %}
      #}
      {% if this.value(DBPOWL.thumbnail) %}
        <figure class="pull-right">
          <img class="img-polaroid" property="thumbnailUrl"
              src="{{ this.value(DBPOWL.thumbnail) }}" />
        </figure>
      {% endif %}
      <p property="description">{{ this.value(DBPOWL['abstract']) }}</p>
      <section>
        <h2>{{ labels.works }}</h2>
        {% for work in this.subjects(DC11.creator) | sort %}
          <div>
            <a rev="creator" href="{{work}}">
              <i class=" icon-book"></i>
              <span property="name">{{work.value(DC11.title)}}</span></a>
          </div>
        {% endfor %}
        <p>
      </section>
      <section>
        <h2>{{ labels.influencedBy }}</h2>
        {% for influence in this.objects(DBPOWL.influencedBy) | sort %}
          <div>
            {% if influence.value(DBPOWL.thumbnail) %}
              <img class="img-polaroid" width="32"
                  src="{{ influence.value(DBPOWL.thumbnail) }}" />
            {% endif %}
            <a property="follows" href="{{app_link(influence.identifier)}}"
              ><span property="name">{{influence.value(FOAF.name)}}</span></a>
          </div>
        {% endfor %}
        <p>
      </section>
    </div>
    <aside class="span5">
      <h2><i>{{ labels.seeAlso }}</i></h2>
      {# for rel in [RDFS.seeAlso, OWL.sameAs, SKOS.exactMatch] #}
      {% for rel in [OWL.sameAs] %}
        {% for same in this.objects(rel) | sort %}
          <article class="well">
            <h2 class="db">{{ datasource_label(same) }}
              <a property="sameAs" href="{{ext_link(same.identifier)}}"
                class="pull-right"><i class="icon-arrow-right"></i></a>
            </h2>
            {% if is_described(same) %}

              <table class="table table-condensed">
                {% for prop, obj in same.predicate_objects() | sort %}
                  <tr>
                    <th>{{ prop.qname().split(':')[-1] }}</th>
                    {% if is_resource(obj) -%}
                      <td>
                        <a property="{{ prop.qname() }}"
                          href="{{ obj }}">
                          ...{{ obj.identifier[-20:] }}
                        </a>
                      </td>
                    {%- else -%}
                      <td property="{{ prop.qname() }}">
                        {% if obj.startswith('http') %}
                          <a href="{{ obj }}">...{{ obj[-20:] }}</a>
                        {% else %}
                          {{ obj }}
                        {% endif %}
                      </td>
                    {%- endif %}
                  </tr>
                {% endfor %}
              </table>

              {% for hub in same.subjects(KSAMSOK.architect) %}
                <div>
                  <b>{{ same.value(KSAMSOK.itemType).qname() }}</b>
                  {% for name in hub.objects(KSAMSOK.name) %}
                    <span class="label label-info">{{ name }}</span>
                  {% endfor %}
                </div>
              {% endfor %}

            {% endif %}
          </article>
        {%- endfor %}
      {% endfor %}
    </aside>
  </article>
  <footer>
    {{ labels.formats }}:
    <a href="/{{path}}.ttl"><i class="icon-file"></i> Turtle</a>,
    <a href="/{{path}}.xml"><i class="icon-file"></i> RDF/XML</a>
  </footer>
{% endblock main %}
