<!DOCTYPE html>
<html prefix="{{prefixes}}" lang="{{lang}}">
  <head vocab="http://www.iana.org/assignments/relation/">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}untitled{% endblock title %} | LIBRIS</title>
    {% block head_extras %}{% endblock head_extras %}
  </head>
  <body vocab="{{vocab}}">
    <div class="container">
      {% block main %}
      {% endblock main %}
    </div>
  </body>
</html>
