{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}
  <article class="row">
    <div class="span12">
      <h1>Index</h1>
      {% for person in map(graph.resource, graph.subjects(RDF.type, FOAF.Person)) | sort %}
        <div>
          <a href="{{ libris_link(person.identifier) }}">{{ person.value(LIBRIS.key) }}</a>
          ({{ labels.influencedBy | lower }} {{ len(list(person.objects(DBPOWL.influencedBy))) }})
        </div>
      {% endfor %}
    </div>
  </article>
{% endblock main %}
